.about {
  position: relative;
  color: $whiteColor;
  overflow: hidden;
  padding: 12vh 0;
  .bigBlueSquare {
    position: absolute;
    top: 16vh;
    left: -15vw;
    width: 29vw;
    height: 29vw;
    background-color: $lightBlue;
    transform: rotate(45deg);
    &::before {
      content: "";
      top: 13vw;
      left: 27vw;
      position: absolute;
      width: 3vw;
      height: 3vw;
      background-color: $whiteColor;
    }
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
    margin: 0 auto;
    .col-image {
      img {
        width: 26vw;
        height: 26vw;
      }
    }
    .col-content {
      padding: 30px;
      h3 {
        padding-bottom: 10px;
        font-weight: 300;
        span {
          color: $lightBlue;
        }
      }
      .span-text {
        font-family: $latoFont;
        font-weight: 300;
        font-style: italic;
        color: $mutedColor;
        font-size: 0.75rem;
      }
      .hide-text {
        display: none;
      }
      .reference-btn {
        border: 1px solid #fff;
        margin: 0px;
        padding: 14px 55px;
        font-size: 1rem;
        background-color: transparent;
        border-radius: 0;
      }
    }
    .col-tabs {
      padding: 100px 0px;
    }
  }
}

@media (max-width: 768px) {
  .about {
    padding: 0;
    .row {
      flex-direction: column-reverse;
      .col-image {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        img {
          width: 55vw;
          height: 55vw;
        }
      }
    }
  }
}
