.about {
  position: relative;
  color: $whiteColor;
  overflow: hidden;
  background-image: url(/src/assets/astro-bkg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .bigBlueSquare {
    position: absolute;
    top: 13vh;
    left: -12vw;
    width: 24vw;
    height: 24vw;
    background-color: $lightBlue;
    transform: rotate(45deg);
    z-index: -1;
    &::before {
      content: "";
      top: 12vw;
      left: 23vw;
      position: absolute;
      width: 3vw;
      height: 3vw;
      background-color: $whiteColor;
    }
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
    margin: 0 auto;
    .col-content {
      padding: 30px;
      h3 {
        padding-bottom: 10px;
        font-weight: 300;
        span {
          color: $lightBlue;
        }
      }
      .span-text {
        font-family: $latoFont;
        font-weight: 300;
        font-style: italic;
        color: $mutedColor;
        font-size: 0.75rem;
      }
      .hide-text {
        display: none;
      }
      .reference-btn {
        border: 1px solid #fff;
        margin: 0px;
        padding: 14px 55px;
        font-size: 1rem;
        background-color: transparent;
        border-radius: 0;
      }
    }
    .col-tabs {
      padding: 100px 0px;
    }
    #me {
      width: 26vw;
      height: 26vw;
    }
  }
}

@media (max-width: 768px) {
  .about {
    .row {
      flex-direction: column-reverse;
      .col-image {
        display: flex;
        justify-content: center;
        #me {
          width: 45vw;
          height: 45vw;
        }
      }
    }
  }
}
