.blog {
  position: relative;
  top: 155vh;
  color: $whiteColor;
  height: 75vh;
  h2 {
    padding-bottom: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5vh;
  }
  .container {
    &::before {
      content: "";
      top: 250px;
      left: 0vw;
      position: absolute;
      width: 100vw;
      height: 330px;
      background-color: #e8f8fb;
    }
    .row {
      .col-image {
        position: relative;
        padding: 1%;
        img {
          width: 100%;
        }
      }
      .overlay {
        position: absolute;
        bottom: 2%;
        background: linear-gradient(180deg, transparent 0%, rgba(0, 166, 202, 1) 100%);
        width: 96%;
        transition: 0.5s ease;
        opacity: 0.25;
        color: $whiteColor;
        padding: 20px;
        text-align: left;
        font-family: $latoFont;
        h6 {
          font-size: 1rem;
        }
        h5 {
          font-size: 1.25rem;
        }
        &:hover {
          opacity: 1;
        }
      }
      .weight {
        width: 98%;
      }
    }
  }
}
