.blog {
  position: relative;
  color: $whiteColor;
  // padding-top: 15vh;
  h2 {
    padding-bottom: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5vh;
  }
  .blog-container {
    width: 75vw;
    margin: 0 auto;
    &::before {
      content: "";
      position: absolute;
      top: 20vh;
      left: 0vw;
      width: 100vw;
      height: 25vh;
      background-color: #e8f8fb;
    }
    .row {
      .col-image {
        &:hover .overlay {
          opacity: 1;
          cursor: pointer;
        }
        img {
          width: 100%;
          &:hover {
            filter: grayscale(100%);
            cursor: pointer;
            border-top-right-radius: 25px;
            transition: border-top-right-radius 1.5s;
          }
        }
        figure {
          position: relative;
        }
      }
      .overlay {
        position: absolute;
        bottom: 0%;
        width: 100%;
        background: linear-gradient(180deg, transparent 0%, $lightBlue);
        transition: 0.5s ease;
        opacity: 0.25;
        color: $whiteColor;
        padding: 1rem;
        text-align: left;
        font-family: $latoFont;
        h6 {
          font-size: 0.75rem;
        }
        h5 {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .blog {
    padding-top: 5vh;
  }
}
