.contact {
  position: relative;
  color: $whiteColor;
  text-align: center;
  overflow: hidden;
  padding: 25vh 0;
  h2 {
    padding-bottom: 20px;
    font-weight: 300;
    margin-bottom: 1vh;
  }
  .contact-btn {
    margin: 0px;
    padding: 14px 55px;
    font-size: 1rem;
    background-color: $lightBlue;
    border-radius: 0;
    border: 1px solid transparent;
    &:hover {
      transition: background-color 1s ease-in, border 1s ease-in;
      background-color: transparent;
      border: 1px solid $whiteColor;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: -3vh;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 36vw;
    background-image: url(/src/assets/contact/basketball.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .contact {
    padding: 12vh 0;
  }
}
