.homepage {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 150px 0;
  background: linear-gradient(180deg, #0b0b2075 0%, transparent 80%), url(/src/assets/hero/hero-image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  .rays-hide {
    display: none;
  }
  .rays {
    &::before {
      content: "";
      top: 0;
      right: 0%;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      z-index: -1;
      background: url(/src/assets/hero/centerRight-bkg.png) right no-repeat;
    }
    &::after {
      content: "";
      top: 0;
      right: 0%;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      z-index: -1;
      background: url(/src/assets/hero/upRightCorner-bkg.png) right no-repeat;
    }
  }
  .row-info-hide {
    display: none;
  }
  .row-info {
    position: absolute;
    top: 0;
    left: 3vw;
    right: 3vw;
    text-align: center;
    padding: 3px 7px;
    width: fit-content;
    background-color: $lightBlue;
    color: $whiteColor;
    font-size: 10px;
    font-weight: 100;
    padding: 0.5em;
    button {
      background-color: transparent;
      border: none;
      font-size: 10px;
      &:hover {
        font-weight: 700;
      }
    }
  }
  .home {
    color: $whiteColor;
    width: 39%;
    text-align: start;
    margin-left: 11vw;
    .home-title {
      padding: 0;
      font-size: 5vh;
      font-weight: 300;
      background-color: transparent;
      span {
        color: $lightBlue;
      }
    }
    .home-text {
      padding: 1rem 0;
      font-size: 1.5vh;
      background-color: transparent;
      color: $mutedColor;
    }
    button {
      background-color: $lightBlue !important;
      padding: 1em 1.5em;
      border-radius: 0;
      font-size: 1em;
    }
  }
  .blackSquare {
    position: absolute;
    bottom: 4vh;
    right: -10vh;
    width: 17vh;
    height: 17vh;
    background-color: #23262b;
    transform: rotate(45deg);
    z-index: 2;
    &::after {
      content: "";
      position: absolute;
      bottom: -1vh;
      right: 11vh;
      width: 3vh;
      height: 3vh;
      background-color: $lightBlue;
    }
  }
}

@media (max-width: 768px) {
  .homepage {
    .home {
      .home-title {
        font-size: 2vh;
        line-height: 1.25rem;
      }
      .home-text {
        font-size: 7px;
      }
    }
  }
}
