.middle {
  position: relative;
  isolation: isolate;
  padding-top: 15vh;
  .train {
    width: 100%;
    color: $whiteColor;
    text-align: center;
    h5 {
      font-size: 5vh;
      font-weight: 300;
    }
    p {
      color: $mutedColor;
      font-size: 1.5vh;
      font-weight: 300;
      font-family: $latoFont;
    }
  }
  .icons-div {
    padding: 5vh 10vw;
    .row-up,
    .row-down {
      color: $whiteColor;
      display: flex;
      justify-content: center;
      text-align: center;
      width: 90%;
      margin: 0 auto;
      .col-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #444444;
        padding: 1rem 0;
        font-weight: 300;
        font-size: 0.75rem;
        &:not(:last-child) {
          border-right: 1px solid #444444;
        }
        img {
          width: 3vh;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .middle {
    // height: 0vh;
    .train {
      margin: 3vh 0;
      h5 {
        font-size: 3vh;
      }
      p {
        font-size: 0.75vh;
      }
    }
    .blackSquare {
      top: 29vh;
    }
    .col-6:not(:last-child) {
      border-right: none !important;
    }
  }
}
