.references {
  position: relative;
  color: $whiteColor;
  overflow: hidden;
  background-image: url(/src/assets/astro-bkg.png);
  background-position: revert;
  background-size: cover;
  padding: 5vh 0;
  .row {
    width: 80vw;
    .col-content {
      padding: 30px;
      .span-container {
        font-family: $latoFont;
        font-weight: 300;
        font-style: italic;
        color: $mutedColor;
        font-size: 0.75rem;
        .quote-first {
          &::before {
            content: '"';
            color: $lightBlue;
            font-size: 2vh;
          }
        }
        .quote-second {
          &::after {
            content: '"';
            color: $lightBlue;
            font-size: 2vh;
          }
        }
      }
      h3 {
        padding-bottom: 10px;
        font-weight: 300;
      }

      h4 {
        padding-top: 15px;
      }
      .hide-text {
        display: none;
      }
      .reference-btn {
        border: 1px solid #fff;
        margin: 0px;
        padding: 14px 55px;
        font-size: 1rem;
        background-color: transparent;
        border-radius: 0;
        &:hover {
          transition: background-color 1s ease-in, border 1s ease-in;
          background-color: $lightBlue;
          border: 1px solid $mutedColor;
        }
      }
    }
    .col-tabs {
      padding: 90px 0px;
    }
    #aleks {
      width: 26vw;
      height: 26vw;
    }
  }
  .bigWhiteSquare {
    position: absolute;
    top: 4vh;
    right: -19vw;
    width: 29vw;
    height: 29vw;
    z-index: 1;
    transform: rotate(45deg);
    background-color: $whiteColor;
    &::after {
      content: "";
      top: 16vw;
      right: 28vw;
      position: absolute;
      width: 3vw;
      height: 3vw;
      background-color: $lightBlue;
    }
  }
}
.nav-pills {
  text-align: center;
  .nav-link {
    color: $whiteColor;
    padding: 1px;
    &:hover {
      color: $lightBlue;
    }
  }
  .nav-link.active,
  .nav-pills .show > .nav-link {
    color: $lightBlue !important;
    background-color: transparent !important;
    transform: scale(1.5) !important;
  }
}

@media (max-width: 768px) {
  .references {
    padding-bottom: 0vh;
    .cup {
      &::before {
        left: -21vh;
      }
    }
    .row-pills {
      width: 100vw;
      .col-tabs {
        transform: rotate(270deg);
        padding: 0px;
        .nav-pills {
          width: 100vw;
          justify-content: center;
        }
      }
    }
    .row {
      .col-content {
        padding: 20px 0;
      }
      .col-image {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        #aleks {
          width: 55vw;
          height: 55vw;
        }
      }
    }
    .tab-content {
      display: flex;
      width: 100vw;
      justify-content: center;
    }
    .bigWhiteSquare {
      top: 35vh;
    }
  }
}
