.services {
  position: relative;
  overflow: hidden;
  color: $whiteColor;
  background-color: $darkBgColor;
  background-blend-mode: lighten;
  background-image: url(/src/assets/astro-bkg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 14vh;
  &::before {
    content: "";
    position: absolute;
    bottom: 0vh;
    left: 0vh;
    width: 40vw;
    height: 40vw;
    z-index: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/src/assets/serv/cup.png);
  }
  .cup {
    display: flex;
    justify-content: center;
    margin: 7vh 0;
    .cup-text {
      font-size: 1rem;
      font-style: italic;
      line-height: 25px;
      font-weight: 300;
      border: 1px solid $whiteColor;
      background-color: $lightBlue;
      padding: 30px 50px;
      width: 60%;
      min-width: 350px;
      text-align: center;
      z-index: 2;
    }
  }
  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: 50vh;
  //   left: 0vh;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url(/src/assets/serv/whiteSquareBkp.png);
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }

  .dummy-text {
    color: $whiteColor;
    margin: 2vh 12vw 5vh;
    max-width: 400px;
    h4 {
      font-weight: 300;
    }
  }
  .service-btn {
    border: 1px solid $whiteColor;
    margin: 5vh auto;
    padding: 14px 55px;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 0;
    z-index: 2;
    &:hover {
      transition: background-color 1s ease-in, border 1s ease-in;
      background-color: $lightBlue;
      border: 1px solid $mutedColor;
    }
  }
  .box {
    margin: 0 11vw;
    position: relative;
    z-index: 2;
    .service-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      .grid-column {
        font-size: 0.75rem;
        margin: 10px;
        padding: 20px;
        background-color: #232529;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        min-height: 150px;
        span {
          font-family: $latoFont;
          color: $mutedColor;
          font-size: 0.5rem;
          padding-top: 10px;
          line-height: 14px;
        }
      }
      &:hover .grid-column {
        filter: blur(3px);
        opacity: 0.5;
        transform: scale(0.98);
        box-shadow: none;
      }
      &:hover .grid-column:hover {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
        box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
        border-bottom: 4px double $lightBlue;
      }
    }
  }
}

@media (max-width: 576px) {
  .services {
    padding-top: 0vh;
    .whiteSquare {
      position: absolute;
      top: 3vh;
      left: -14vw;
      width: 12vh;
      height: 12vh;
      background-color: $whiteColor;
      transform: rotate(45deg);
      &::before {
        content: "";
        position: absolute;
        top: 15vw;
        left: 24vw;
        width: 4vw;
        height: 4vw;
        background-color: $lightBlue;
      }
    }
    .dummy-text {
      color: $whiteColor;
      margin: 8vh auto 5vh;
      text-align: center;
    }
    .box {
      .service-grid {
        display: block;
      }
      &::before {
        bottom: 212vw;
        background-size: 40%;
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    .whiteSquare {
      position: absolute;
      top: 5vh;
      left: -8vw;
      width: 12vh;
      height: 12vh;
      background-color: $whiteColor;
      transform: rotate(45deg);
      &::before {
        content: "";
        position: absolute;
        top: 9vw;
        left: 15vw;
        width: 4vw;
        height: 4vw;
        background-color: $lightBlue;
      }
    }
    .dummy-text {
      color: $whiteColor;
      margin: 18vh auto 5vh;
      text-align: center;
    }
  }
}
