@import "./vars.scss";
@import "./topbar";
@import "./homepage";
@import "./middle";
@import "./services";
@import "./references";
@import "./about";
@import "./blog";
@import "./contact";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $darkBgColor !important;
  font-family: $robotoFont !important;
}

.App {
  .scroll-to-top {
    background-color: transparent;
    border-radius: 50%;
    filter: invert(1);
    svg {
      filter: contrast(0.5);
    }
  }
  .scroll-tracker {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8px;
    z-index: 9;
  }

  .scroll-tracker__gauge {
    height: 100%;
    background-color: green;
  }
}

.astro-bkg {
  overflow: hidden;
  &::before {
    content: "";
    top: 15vh;
    right: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(/src/assets/astro-bkg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .golman {
    &::before {
      content: "";
      position: absolute;
      top: 130vh;
      left: 69vw;
      width: 31%;
      height: 58%;
      z-index: 1;
      background-size: 40vw;
      background-position: left;
      background-repeat: no-repeat;
      background-image: url(/src/assets/serv/goalman.png);
    }
  }
}

.box2 {
  position: relative;
  .astro-bkg2 {
    &::before {
      content: "";
      top: 45vh;
      right: 0%;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.5;
      background-image: url(/src/assets/astro-bkg.png);
      background-repeat: no-repeat;
      background-position: top;
      background-size: contain;
    }
  }
}

.whiteSquare {
  position: absolute;
  top: 75vh;
  left: -12vw;
  width: 19vw;
  height: 19vw;
  max-width: 600px;
  max-height: 600px;
  transform: rotate(45deg);
  background-color: $whiteColor;
  z-index: 1;
  &::before {
    content: "";
    top: 7vw;
    left: 18vw;
    position: absolute;
    width: 3vw;
    height: 3vw;
    background-color: $lightBlue;
  }
}
